{%extends 'ParentTemplate.html'%}

{% block title%}
{{ super() }}
WRU Event Form
{%endblock%}

{% block headBlock%}
{{ super() }}
WRU Event Form
{%endblock%}

{% block contentBlock%}
{{ super() }}
<form id="infoForm" action="/Upload" method="post" onsubmit="return formEventValidate()">
  <h1>Event Information</h1>
  <br>
  <span>Date:</span><br>
  <input type="date" id="date" name="date"><br>

  <span>Event Name:</span><br>
  <div id="eventNames">
    <select value="" id="eventName" name="eventName">
      <option disabled selected value> -- select an event -- </option>
      <!-- https://stackoverflow.com/questions/3727045/set-variable-in-jinja -->
      <!-- https://stackoverflow.com/questions/1465249/get-lengths-of-a-list-in-a-jinja2-template -->
      {% set data = data %}
      {%for i in range(data|length)%}
        <option>{{data[i][0]}}</option>
      {%endfor%}
    </select>
  </div>

  <span>Attendance:</span><br>
  <input type="number" id="Attendance" name="attendance"><br>

  <span>Event type:</span>
  <div id="event">
  <select value="Event" id="eventType" name="eventType">
    <option disabled selected value> -- select an event type -- </option>
    <option value="Hub">Hub activity (school/club/uni/other)</option>
    <option value="CommunityFest">Community festival</option>
    <option value="Competition">Competition</option>
    <option value="CommunityProv">Community provision</option>
    <option value="Collab">Collaborative delivery</option>
    <option value="Women">Women & Girls cluster</option>
    <option value="Regional">Regional rugby camps</option>
    <option value="Exiles">Exiles camps</option>
    <option value="Other">Other</option>
  </select>
  <br>
  <span>Gender Proportion</span><br>
  <p>Move the slider to represent the male to female ratio</p>
  <!-- code taken from https://www.w3schools.com/howto/howto_js_rangeslider.asp -->
  <div id="slidecontainer">
    <input type="range" min="0" max="100" value="50" class="slider" id="myRange" name="slider">
    <p>Males: <span id="Men"></span>%</p>
    <p>Females: <span id="Women"></span>%</p>
  </div>

  <h1>Game Information</h1>

  <button type="button" name="add" onclick="myEventFunction(); myAgeFunction()" onclick=""> Add another game </button>
  <button type="button" name="delete" onclick="myEventFunction2()"> Delete game </button>
  <br>
  <span>Game:</span>
  <div id="game">
  <select value="Game" id="gameType" name="gameType">
    <option disabled selected value> -- select a game type -- </option>
    <option value="Tag">Tag</option>
    <option value="Touch">Touch</option>
    <option value="Contact">Contact</option>
  </select>
  <!-- when clicked calls te functions in the addfields.js file  -->
    <select name="age">
      <option disabled selected value> -- select an age range -- </option>
      <option value="Minis">Minis (4-7)</option>
      <option value="Juniors">Juniors (8-17)</option>
      <option value="Seniors">Seniors (18+)</option>
    </select>
    <br>
  </div>
  <span> {{msg}} </span>
  <div id="submit">
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </div>
</form>
{%endblock%}

{% block scriptsBlock%}
{{ super() }}
<script type="text/javascript" src="../static/js/slider.js"></script>
<script type="text/javascript" src="../static/js/addfield.js"></script>
<script type="text/javascript" src="../static/js/submit.js"></script>
<script type="text/javascript" src="../static/js/eventvalidation.js"></script>
{%endblock%}
