{%extends 'ParentTemplate.html'%}

{% block title%}
{{ super() }}
WRU Event Form
{%endblock%}

{% block headBlock%}
{{ super() }}
WRU Event Form
{%endblock%}

{% block contentBlock%}
{{ super() }}
<form id="infoForm" action="/Upload" method="post" onsubmit="LoadInfo()">
  <h1>Event Information</h1>
  <br>
  <span>Date:</span><br>
  <input type="date" id="date" name="date"><br>

  <span>Attendance:</span><br>
  <input type="number" id="Attendance" name="attendance"><br>
  <span>Gender Proportion</span><br>
  <p>Move the slider to represent the male to female ratio</p>
  <!-- code taken from https://www.w3schools.com/howto/howto_js_rangeslider.asp -->
  <div id="slidecontainer">
    <input type="range" min="0" max="100" value="50" class="slider" id="myRange" name="slider">
    <p>Males: <span id="Men"></span>%</p>
    <p>Females: <span id="Women"></span>%</p>
  </div>

  <h1>Game Information</h1>

  <button type="button" name="add" onclick="myEventFunction(); myAgeFunction()" onclick=""> Add another game </button>
  <button type="button" name="delete" onclick="myEventFunction2()"> Delete game </button>
  <br>
  <span>Game type:</span>
  <div id="activity">
  <select value="Event" id="eventType" name="eventType">
    <option disabled selected value> -- select a game type -- </option>
    <option value="Tag">Tag</option>
    <option value="Touch">Touch</option>
    <option value="Contact">Contact</option>
  </select>
  <!-- when clicked calls te functions in the addfields.js file  -->
    <select name="age">
      <option disabled selected value> -- select an age range -- </option>
      <option value="Minis">Minis (4-7)</option>
      <option value="Juniors">Juniors (8-17)</option>
      <option value="Seniors">Seniors (18+)</option>
    </select>
    <br>
  </div>
  <div id="submit">
    <button type="submit" class="btn btn-primary btn-lg" onclick="formEventValidate()">Submit</button>
  </div>
</form>
{%endblock%}

{% block scriptsBlock%}
{{ super() }}
<script type="text/javascript" src="../static/js/slider.js"></script>
<script type="text/javascript" src="../static/js/addfield.js"></script>
<script type="text/javascript" src="../static/js/submit.js"></script>
<script type="text/javascript" src="../static/js/eventvalidation.js"></script>
{%endblock%}
