{%extends 'ParentTemplate.html'%}

{% block title%}
{{ super() }}
WRU Event Form
{%endblock%}

{% block headBlock%}
{{ super() }}
WRU Event Form
{%endblock%}

{% block contentBlock%}
{{ super() }}
<form id=NewUser action="/email" method="post">
  <span> First name </span><br>
  <input type="text" id="FirstName" name="FirstName"><br>

  <span> Surname </span><br>
  <input type="text" id="Surname" name="Surname"><br>

  <span>Username</span><br>
  <input type="text" id="username" name="username"><br>

  <span>Email</span><br>
  <input type="email" id="email" name="email"><br>

  <span>Contact Number</span><br>
  <input type="contact number" id="contactnumber" name="contactnumber"><br>

  <span>Password</span><br>
  <input type="password" id="password" name="password"><br>

  <span>Re-enter Password</span><br>
  <input type="password" id="repassword" name="repassword"><br>

  <span>{{msg}}</span><br>
  <button type="submit" class="btn btn-primary btn-lg"> Create new user </button>
  <a href="/Login" class="btn btn-primary btn-lg"> Back </a>
</form>
{%endblock%}

{% block scriptsBlock%}
{{ super() }}
<!-- javascriptgoes here -->
{%endblock%}
