{%extends 'ParentTemplate.html'%}

{% block title%}
{{ super() }}
Success
{%endblock%}

{% block headBlock%}
{{ super() }}
Success!
{%endblock%}

{% block contentBlock%}
{{ super() }}
<div id="welcome">
  <h2>The form is successfully submitted</h2>
  <br><br><br>
  <button type="button" class="btn btn-primary btn-lg">Another form</button>
  <button type="button" class="btn btn-secondary btn-lg">Log out</button>
  <br><br><br>
</div>
{%endblock%}

{% block scriptsBlock%}
{{ super() }}

{%endblock%}
